[submodule "Modules/admin"]
	path = Modules/admin
	url = https://github.com/melodytowett/employeeRecord
[submodule "admin-module"]
	path = admin-module
	url = https://github.com/melodytowett/employeeRecord
